body{
    background-image: url("../images/window.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.meny p{
    display: inline;
}
.meny a{
    display: inline-block;
    padding: 1em;
    color: black;
    text-decoration: none;
    background-color: rgb(17, 98, 107);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.meny a:hover{
    background-color:rgb(2, 61, 112);
}
.info{
    padding: 2em;
}